*,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.938rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 200px;
  color: #fff;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}
label:nth-child(1) {
  position: relative;
  display: flex;
  flex-direction: column;
}
input {
  position: relative;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  outline-color: #1bb194;
  background: #121212;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #3c879c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5ff5ff;
}

button:active {
  background-color: #1bb194;
}

/* Estilos gerais da barra de rolagem */
#itemList::-webkit-scrollbar {
  width: 2px;
}

/* Estilos da trilha da barra de rolagem */
#itemList::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

/* Estilos do thumb da barra de rolagem */
#itemList::-webkit-scrollbar-thumb {
  background: #1bb194;
  border-radius: 10px;
}

/* Estilos da barra de rolagem ao passar o mouse */
#itemList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body #itemList {
  width: 100%;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: bold;
  position: absolute;
  top: 51px;
  left: 0;
  color: #fff;
  background: rgba(7, 16, 19, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(7, 16, 19, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#itemList li {
  border: 1px solid transparent;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.3s;
}

#itemList li a {
  transition: 0.3s;
}

#itemList li:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.5);
}

#itemList li:hover a {
  color: #1bb194;
}

.itemSignals {
  display: flex;
  justify-content: space-between;
}
.itemSignals li {
}
.itemSignals li label {
  display: block;
  padding: 5px;
  background: #3c879c;
  cursor: pointer;
  border-radius: 4px;
}

.itemSignals li label:hover {
  background: #5ff5ff;
}

.itemSignals li input:checked + label {
  background: #1bb194;
}

.signalPrice-box {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signalPrice-box > div {
  display: flex;
  flex-direction: column;
}

.signalPrice-box > label {
  width: 30%;
  display: flex;
  flex-direction: column;
}
